body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#playground{
    width: 500px;
    height: 500px;
    background-color: rgb(206, 195, 195);
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}
#target{
    position: absolute;
    top: 10px;
    left: 10px;
    user-select: none; /*empécher d'être séléction par le joueur*/
}

#target i {
    color: red;
}

